@model IEnumerable<Menus>

@{
    ViewData["Title"] = "List of Menu Makanan";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                                   <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Name
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <a class="text-white float-right" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                                    }
                                </h5>
                           
                               
                            </p>
                          
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@item.ImageURL" width="100%" alt="@item.Name">
                    </div>
                    <div class="col-md-6">
                        <p class="card-text ">
                            <b>Status: </b> 
                            @if (item.IsInStock == false)
                            {
                                <span class="badge bg-success text-white">Not Ready</span>
                            }
                            else
                            {
                                <span class="badge bg-primary text-white">Ready</span>
                            }
                        </p>

                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.Id">
                                    <i class="bi bi-eye-fill"></i> Show Details
                                </a>
                                @if(item.IsInStock == true)
                                {
                                    <a class="btn btn-success text-white )"  
                                   asp-controller="Orders" 
                                   asp-action="AddItemToShoppingCart" 
                                   asp-route-id="@item.Id">

                                <i class="bi bi-cart-plus"></i> Add to Cart (Price @item.Price.ToString("c"))</a>
                                }else
                                {
                                      <a class="btn btn-warning text-gray )"
                               asp-route-id="@item.Id">
                                        <i class="bi bi-cart-plus"></i> Cannot Add To Cart (Not Ready)
                                </a>
                                }
                             
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@await Html.PartialAsync("_CreateItem", "Menus") 